.mhb_checkbox { text-align:center; }

.mhb table { width: 100%; border-collapse: collapse; margin-bottom: 20px; }
.mhb table thead td { background: #f0f1f1; font-weight: bold; padding: 5px 0; }
.mhb table tbody td { padding: 5px 0; font-size: 11px; color: #999; border-bottom: 1px solid #ddd; }
.mhb table tbody td span { color: #6ec80d; }
